header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;

  position: sticky;
  top: 0;
  height: var(--nav-height);

  background-color: var(--color-main);
  padding: 12px;
}

.nav__list {
  list-style-type: none;
  display: flex;
  gap: var(--gap);
}

.nav__list a {
  text-decoration: none;
  color: var(--color-grey);
}

.nav__list a:hover {
  color: var(--color-white);
  transition: 450ms ease;
  /* ! SISTEMARE */
}

.header__profile {
  display: flex;
  gap: var(--gap);
}

/* input search bar */

.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
}

.container .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
  color: var(--color-grey);
}

.input {
  width: 220px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: var(--color-grey);

  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
  border: 2px solid transparent;
  color: #fff;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  display: none;
  /* transform: translateY(-35px); */
}

.container .input:valid,
.container .input:focus {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
