.main__content {
  border: 2px solid rgb(56, 56, 56);
  border-radius: 12px;
  display: flex;
  padding: 12px;
  gap: 12px; /* da togliere */
}

.info__section {
  width: 15%;
}

.main__section {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* 
.main__top {
  border: 2px solid green;
} */

/* cards container */
.main__mid {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

/* single card */
.card {
  width: 360px;
  height: 290px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(109, 109, 109, 0.494);
  box-shadow: 5px 5px 5px #47474762; /* ! SISTEMARE */
}

.card:hover {
  transform: scale(1.02);
  transition: 450ms ease;
}

.card__banner {
  width: 100%;
  height: 75%;
}

.card__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}


.card__info {
  height: 25%;
  padding: 6px;
  display: flex;
  flex-direction: column;
  /* ! Sistemare overflow */
}

.card__title {
  font-size: 1.4rem;
}

.card__info__details {
  display: flex;
  justify-content: space-between;
}

.active {
  border: 2px solid red;
}

/* End single card */

/* .main__bottom {
  border: 2px solid green;
} */
