@import "./variables.css";
@import "./header.css";
@import "./maincontent.css";
@import "./sidebar.css";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 16px;
}
.main__container {
  max-width: 1440px;
  margin: 0 auto;
}
