@import "./variables.css";
@import "./header.css";
@import "./sidebar.css";
@import "./maincontent.css";
@import "./footer.css";
@import "./page.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 16px;
  scroll-behavior: smooth;
}

.main__container {
  max-width: 1440px;
  margin: 0 auto;
}

/* .hidden {
  display: none;
} */
