.main__content {
  border: 2px solid rgb(56, 56, 56);
  border-radius: 12px;
  display: flex;
  padding: 12px;
  gap: 12px; /* da togliere */
}

.info__section {
  width: 15%;
}

.main__section {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* 
.main__top {
  border: 2px solid green;
} */

/* cards container */
.main__mid {
  display: flex;
  flex-direction: column;
}

.cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
  padding: 12px;
}

/* single card */
.card {
  width: 380px;
  height: 260px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  border: 2px solid white;
}

.card:hover {
  transform: scale(1.02);
}

.card__banner {
  width: 100%;
  height: 75%;
}

.card__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

.card__info {
  height: 25%;
  padding: 6px;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 1.4rem;
}

.card__info__details {
  display: flex;
  justify-content: space-between;
}
/* End single card */

/* .main__bottom {
  border: 2px solid green;
} */
