.info__section {
  color: var(--color-grey);
  /* text-transform: uppercase; */
  position: relative;
}

.info__section ul {
  list-style-type: none;
  position: sticky;
  top: calc(var(--nav-height) + 18px);
}

.info__section li {
  padding-bottom: 6px;
}

.info__section li:hover {
  color: var(--color-white);
  cursor: pointer;
  transition: 250ms ease;
}

.categoryActive {
  background-color: red;
}
