:root {
  --color-main: #18161c;
  --color-white: #ffffff;
  --color-grey: #525257;
  --color-light-grey: #a6a6aa;
  --color-orange: #f36f45;
  --color-light-blue: #62d1e8;
  --color-violet: #866bff;

  --gap: 12px;
  --radius: 12px;

  --nav-height: 100px;
}